server:
  port: 8080
spring:
  main:
    allow-bean-definition-overriding: true
  application:
    name: accounts
  data:
    mongodb:
      uri: mongodb://mongo:27017/accounts
  kafka:
    bootstrap-servers: kafka:9092
    topic:
      accounts-customer: accounts.customer.change
    consumer:
      group-id: accounts
      auto-offset-reset: earliest
  zipkin:
    sender:
      type: kafka
management:
  endpoints:
    web:
      exposure:
        include: '*'
logging:
  level:
    root: INFO
---
spring:
  config:
    activate:
      on-profile: local
  data:
    mongodb:
      uri: mongodb://localhost:27017/accounts
  kafka:
    bootstrap-servers: localhost:9092
server:
  port: 8085
management:
  endpoints:
    web:
      exposure:
        include: '*'
logging:
  level:
    root: DEBUG
---
spring:
  config:
    activate:
      on-profile: confluent
server:
  port: 8080
logging:
  level:
    root: INFO
---
server:
  port: 8080
spring:
  config:
    activate:
      on-profile: minikube
  data:
    mongodb:
      uri: mongodb://mongo.dev:27017/accounts
  kafka:
    bootstrap-servers: kafka-cluster.dev:9092
management:
  endpoints:
    web:
      exposure:
        include: '*'
logging:
  level:
    root: DEBUG
